[Unit]

Wants=docker.service

After=docker.service

[Service]

RemainAfterExit=yes

ExecStart=/usr/bin/docker run --name kms -it -d -p 1688:1688 insilicosp/vlmcsd

ExecStop=/usr/bin/docker stop kms



[Install]

WantedBy=multi-user.target
